

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Policy Check</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% for nav in navBar %}
            {% if title == nav.name %}
              <a class="nav-link active" aria-current="page" href="{{nav.href}}">{{nav.name}}</a>
            {% else %}
              <a class="nav-link" href="{{nav.href}}">{{nav.name}}</a>          
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </nav>
  